{% extends "base.html" %}
{% load i18n %}

{% block title %}
<title>密码重置</title>
{% endblock %}

{% block content %}
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}<br>
		<div class="button-wrapper submit">
			<!-- <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" /> -->
			<input class="btn btn-primary" type="submit" value="提交" />
		</div>
	</form>
</div>
{% endblock %}
